#Git Ignore Doc for OS Project

#Compiled testcases
phase1/*
phase2/*
phase3/*
phase4/test*

#.out files
*.out

#All .o files
*.o

#accidental swap files
*.swo

#usloss directory
phase1/usloss

#Core files 
core

# tags file
tags
