#Git Ignore Doc for OS Project

#Compiled testcases
phase1/test*
phase1/test*.o

#.out files
*.out

#All .o files
*.o

#accidental swap files
*.swo

#usloss directory
phase1/usloss

#Core files 
core

#libphase1.a
phase1/libphase1.a

# diffTests from testPhase1.sh
phase1/diffTests

# tags file
tags
